body {
    padding-top: 5rem;
}

.imageView
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 200px;
    grid-row-gap:  3px;
}

img
{
    width: 50%;
    height: 70%;
    -moz-box-shadow: 10px 10px 50px #ccc;
	-webkit-box-shadow: 10px 10px 50px #ccc;
	box-shadow: 10px 10px 50px #ccc;
}